/minecraft/stats
/minecraft/saves
/minecraft/logs
/minecraft/asm
/minecraft/crash-reports
*.log
*.log.*
/minecraft/libraries
/minecraft/*.jar

/minecraft/white-list.txt
/minecraft/world/
/minecraft/banned-ips.txt
/minecraft/banned-players.txt
/minecraft/server.properties
/minecraft/options.txt

